.animation_ligth{
    width: 100vw;
    height: 440vh;
    /* background-image: linear-gradient(230deg, #00e1ff,#0B8ADB, #b8d0f3,#8e8cff,#b8d0f3, #00A8F3, #00CEF5); */

    /* background-size: 500%;
    animation: parfait_ligth 50s infinite; */
    opacity:1;
    position: absolute;
}
/* @keyframes parfait_ligth{
    0%{
      background-position: 0% 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0% 50%;
    }
  } */
  #dec1{
    height: 18vh;
    margin-top: 15vh;
    right: 25vw;
    width: 8vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-color: #6998ab6c;
    border-radius: 1000px;
  }
  #dec2{
    height: 35vh;
    width: 16vw;
    margin-top: 45vh;
    right: 45vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-color: #1983d944;
    border-radius: 1000px;
  }
  #dec3{
    height: 10vh;
    width: 4.5vw;
    margin-top: 180vh;
    left: 8vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.7;
    background-color: #6998ab6e;
    border-radius: 1000px;
  }
  #dec4{
    height: 10vh;
    margin-top: 95vh;
    right: 15vw;
    width: 4.5vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-color: rgba(154, 169, 255, 0.425);
    border-radius: 1000px;
  }
  #dec5{

    height: 25vh;
    margin-top: 362vh;
    left: 2vw;
    width: 11vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-color: rgba(19, 114, 143, 0.418);
    border-radius: 1000px;
  }
  #dec6{
 
    height: 30vh;
    margin-top: 153vh;
    left: 17vw;
    width: 14vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.5;
    background-color:#74baf096;
    border-radius: 1000px;
  }
  #dec7{

    height: 20vh;
    margin-top: 405vh;
    right: 25vw;
    width: 9vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.7;
    background-color: #1983d965;
    border-radius: 1000px;
  }
  #dec8{
    height: 15vh;
    margin-top: 420vh;
    right: 60vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-color: #e3ebf1c2;
    border-radius: 1000px;
    width: 7vw;
  }
  #dec9{
    height: 15vh;
    margin-top: 378vh;
    left: 25vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.6;
    background-color: #e3ebf1a4;
    border-radius: 1000px;
    width: 7vw;
  }
  #dec10{
    height: 25vh;
    margin-top: 350vh;
    right: 3vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-color:rgba(134, 134, 161, 0.185);
    border-radius: 1000px;
    width: 11.5vw;
  }
  #dec11{
    height: 25vh;
    margin-top: 260vh;
    left: 25vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.65;
    background-color: #6998ab96;
    border-radius: 1000px;
    width: 11.5vw;
  }
  #dec12{
    height: 18vh;
    margin-top: 115vh;
    left: 2vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-color: #86c0edc9;
    border-radius: 1000px;
    width: 8vw;
  }
  #dec13{
    height: 20vh;
    margin-top: 235vh;
    right: 10vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-color: #1983d967;
    border-radius: 1000px;
    width: 9vw;
  }
  #dec14{
    height: 13vh;
    margin-top: 310vh;
    right: 8vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.8;
    background-color: #6998ab71;
    border-radius: 1000px;
    width: 6vw;
  }