<section class="animation_ligth">
    <img src="./../../../assets/png/bt_home2.png" id="dec1" alt="">
    <img src="./../../../assets/png/bt_home2.png" id="dec2" alt="">
    <img src="./../../../assets/png/bt_home2.png" id="dec3" alt="">
    <img src="./../../../assets/png/bt_home2.png" id="dec4" alt="">
    <img src="./../../../assets/png/bt_home2.png" id="dec5" alt="">
    <img src="./../../../assets/png/bt_home2.png" id="dec6" alt="">
    <img src="./../../../assets/png/bt_home2.png" id="dec7" alt="">
    <img src="./../../../assets/png/bt_home2.png" id="dec8" alt="">
    <img src="./../../../assets/png/bt_home2.png" id="dec9" alt="">
    <img src="./../../../assets/png/bt_home2.png" id="dec10"alt="">
    <img src="./../../../assets/png/bt_home2.png" id="dec11"alt="">
    <img src="./../../../assets/png/bt_home2.png" id="dec12"alt="">
    <img src="./../../../assets/png/bt_home2.png" id="dec13"alt="">
    <img src="./../../../assets/png/bt_home2.png" id="dec14"alt="">
    <img src="./../../../assets/png/bt_home2.png" id="dec15"alt="">
    <img src="./../../../assets/png/bt_home2.png" id="dec16"alt="">
</section>
