.container_contact{
    width: 100vw;
    height: 125vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end ;
    overflow: hidden;
}
.navContact{
    width: 100vw;
    margin-top: 0;
    height: 30vh;
    background:#6998ab;
    justify-content: center;
    align-items: flex-end;
    display: flex;
}

.logo{
    height: 6vh;
}
.logo:hover{
    transform: rotate(30deg);
    border-radius: 16px;
    box-shadow: rgba(0, 12, 63, 0.35) 0px 5px 15px;
}
.log{
    height: 10vh;
    display: flex;
    width: 30vw;
    align-items: center;
    justify-content:space-evenly;
    margin-bottom: 5vh;
    z-index: 50;
}
.decorator{
    width: 30vw;
    height: 69vh;
    /* background-color: #174f7a; */
    /* background-color: blueviolet; */
    justify-content: center;
    align-items: center;
    display: flex;
}
.colorDark{
    width: 100vw;
    height: 125vh;
    background-image: linear-gradient(230deg, #000000, #04001c, #080918,#121531, #060e1d, #00001d);
    background-size: 500%;
    animation: dark3 50s infinite;
    opacity: 1;
    position: absolute;
  }
  @keyframes dark3{
    0%{
      background-position: 0% 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0% 50%;
    }
  }
.dark2{
    background: none;
}
.img_decor1{
  height: 65vh;
  margin-left: -10vw;
  margin-top: 20vh;
  transform: rotate(19deg);
  z-index: 2;
  width: 35vw;
  opacity: 0.9;
}
.img_decor2{
  height: 50vh;
  margin-left: -44.5vw;
  transform: rotate(-60deg);
  z-index: 3;
}
p{
  align-self:center;
  z-index: 15;
  display: flex;
  align-items: center;
  height: 10vh;
  margin-top: 37vh;
  position: absolute;
  width: 35vw;
  justify-content: center;
  color: #1B374D;
  margin-left: -19vw;
  text-align: center;
}
.formContact{
  width: 42vw;
  height:65vh;
  background-color: rgb(236, 236, 236);
  position: absolute;
  margin-top: 53vh;
  left: 20vw;
  padding-top: 2vh;
  display: flex;
  padding-top: 4vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 3vw;
  padding-bottom: 2vh;
  border-radius: 10px;
  z-index: 7;
}
input{
  width: 35vw;
  border:none;
  border-radius: 5px;
  height: 5vh;
  border-bottom: #174F7A 1px solid;
  outline: none;
}
textarea{
  border:none;
  width: 35vw;
  border-radius: 5px;
  border-bottom: #174F7A 1px solid;
  outline: none;
}
.btn_message{
  width: 12vw;
  align-self: flex-end;
  margin-right: 4vw;
  height:6vh;
  margin-top: 3vh;
  background-color:#86C0ED;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
}
.btn_message:hover{
  background-color:#4fa5e7;

 
}
input.ng-dirty.ng-valid {
  border: 1px solid #5e8feb;
  background-color: white;
}

input.ng-dirty.ng-invalid {
  border: 1px solid rgb(185, 0, 0);
}

.invalid {
  text-align: left;
  font: normal normal normal 10px/12px Gotham Rounded Book;
  color: #ff0000;
  opacity: 0.68;
  margin: 0px 15px 0px 15px;
  width: 35vw;
  height: 2vh;
}
textarea.ng-dirty.ng-invalid {
  border: #ff0000 1px solid;
}
.messageError{
    margin-top: 2px;
    width: 30vw;
    height: 2vh;
    margin-left: 1vw;
    font-family: 'Poppins', sans-serif;
}
.confirmation{
  width: 24vw;
  z-index: 50;
  height: 18vh;
  background-color: #c8ebf0;
  align-self: center;
  position: absolute;
  margin-top: 53vh;
  border-radius: 15px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  padding: 0 2.5vw;
  text-align: center;
  color: #1B374D;
  font-size: 0.9em;
}
.check{
  height: 6vh;
  margin-right: 0.8vw;
}