<app-header (messageEvent)="mode($event)"></app-header>
<section class="container_contact" [ngClass]="{'colorDark': generic}">

    <nav class="navContact" [ngClass]="{'dark2': generic2}">
        <div class="log">
            <a href="https://sakaine04.itch.io/" target="_blank"><img class="logo" src="./../../../assets/png/game-control.png"></a>
            <a href="https://github.com/Nataliasita" target="_blank"><img class="logo" src="./../../../assets/png/git.png"></a>
            <a href="https://www.linkedin.com/in/natalia-gonzalez-lizarazo/" target="_blank"><img class="logo" src="./../../../assets/png/link.png"></a>
            <a href="https://www.instagram.com/sakaine04/" target="_blank"><img class="logo" src="./../../../assets/png/instagram.png"></a>
        </div>
    </nav>
    <p>Puedes encontrarme en mis redes profesionales o enviarme un mensaje y pronto recibiras una respuesta.  </p>


    <div class="decorator" *ngIf="decor2">
        <img class="img_decor1" id="efect_blur" src="assets/png/fondo4.png" alt="">
        <img class="img_decor2" src="assets/png/bt_home2.png" alt="">
    </div>
    <div class="decorator" *ngIf="decor1">
        <img class="img_decor1" src="assets/png/fondo3.png" alt="">
        <img class="img_decor2" src="assets/png/bt_home2.png" alt="">
    </div>


     <form action="" class="formContact" [formGroup]="sendForm" autocomplete="on" (ngSubmit)="addMessage()">
         <span>Nombre</span>
             <input id="name" type="text" formControlName="name" required >
             <div class="invalid">
                <p  class="messageError"
                    *ngIf="sendForm.controls['name'].hasError('required') && (sendForm.controls['name'].dirty || sendForm.controls['name'].touched)">
                    Nombre requerido </p>
                <p class="messageError"
                    *ngIf="sendForm.controls['name'].invalid && !sendForm.controls['name'].hasError('required')">
                    El nombre debe tener de 3 a 30 letras</p>
            </div>
         <span>Email</span>        
             <input id="email" type="email" formControlName="email" required>
             <div class="invalid">
                <p class="messageError"
                    *ngIf="sendForm.controls['email'].hasError('required') && (sendForm.controls['email'].dirty || sendForm.controls['email'].touched)">
                    Correo electronico requerido.</p>
                <p class="messageError"
                    *ngIf="sendForm.controls['email'].hasError('pattern') && sendForm.controls['email'].hasError('email')">
                    Correo electronico invalido</p>
            </div>
         <span>Mensaje</span>
        <textarea name="" id="" cols="" rows="5" formControlName="message"required placeholder=" Ingresa tu mensaje"></textarea>
        <div class="invalid">
            <p class="messageError"
                *ngIf="sendForm.controls['message']?.invalid && !sendForm.controls['message'].hasError('required')">
                Debe tener de 5 a 100 letras.</p>
        </div>
            <button type="submit" [disabled]="sendForm.invalid" class="btn_message">Enviar</button>
    </form>
    
    <div class="confirmation" *ngIf="modal">
        <img class="check" src="assets/png/check.png" alt="">
        <span>Tu mensaje ha sido enviado con exito</span>
    </div>




</section>

