<section class="module-ar">
    <span class="borderSectionAr"></span>
    <h4 class="titleAr">Realidad aumentada</h4>
    <span class="subtitleAr">App realizada con unity para Android que proyecta modelos 3D con los que se puede interctuar en un espacio real.</span>
    <div class="containerVideo">
        <video width="300"  height="500" src="assets/videos/reelarharry.mp4" oncanplay="this.muted=true" #movieplayer loop autoplay></video>
        <video width="300"  height="500" src="assets/videos/allpokemonsar.mp4"  oncanplay="this.muted=true" #movieplayer loop autoplay></video>
    </div>

</section>

