<footer class="footer"  id="foo_work">
        <article class="rights">
            <img id="derechos" src="./../../../assets/png/derechos-de-autor.png"><p id="name">Natalia Gonzalez || 2022 </p>
        </article>
        <div class="log">
            <a href="https://sakaine04.itch.io/"><img class="logo_footer" src="./../../../assets/png/game-control.png"></a>
            <a href="https://github.com/Nataliasita"><img class="logo_footer" src="./../../../assets/png/git.png"></a>
            <a href="https://www.linkedin.com/in/natalia-gonzalez-lizarazo/"><img class="logo_footer" src="./../../../assets/png/link.png"></a>
            <a href="https://www.instagram.com/sakaine04/"><img class="logo_footer" src="./../../../assets/png/instagram.png"></a>
        </div>
       

</footer>