.contenedor_animation{
    /* background-color: rgb(230, 230, 230); */
    width: auto;
    height: fit-content;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 1;
    z-index: 7;
    flex-direction: column;
}
.titlePrincipal{
    align-self: flex-end;
    width: 30vw;
    text-align: center;
    position: absolute;
    margin-top: 75vh;
    margin-right: 3vw;
    font-weight: 700;
    color:#204058;
}

.icon-click{
    height: 28px;
    position: absolute;
    transform: rotate(268deg);
    align-self: center;
    margin-top: 137vh;
    margin-left: -22vw;
    z-index: 7;
}
.carrusel{
    width: 45vw;
    height: 280vh;
    position: relative;
    display: block;
    /* background-color: brown; */
    margin-top:20vh;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective:1000px;
}

.carrusel img{
    position: absolute;
    transition: 0.4s;
    border-radius: 20px;
    height: 300px;
    width: 300px;
    object-fit:contain;
}

.carrusel img:hover{
    cursor: pointer;
}

.carrusel input{
    display: none;
}

#radio1:checked ~ #img1 img,
#radio2:checked ~ #img2 img,
#radio3:checked ~ #img3 img,
#radio4:checked ~ #img4 img,
#radio5:checked ~ #img5 img,
#radio6:checked ~ #img6 img,
#radio7:checked ~ #img7 img,
#radio8:checked ~ #img8 img,
#radio9:checked ~ #img9 img
{
    transform: translate3d(0px,500px,500px);
    z-index: 5;
} 

#radio1:checked ~ #img2 img,
#radio2:checked ~ #img3 img,
#radio3:checked ~ #img4 img,
#radio4:checked ~ #img5 img,
#radio5:checked ~ #img6 img,
#radio6:checked ~ #img7 img,
#radio7:checked ~ #img8 img,
#radio8:checked ~ #img9 img,
#radio9:checked ~ #img1 img{
    transform: translate3d(70px,700px, 400px);
    z-index: 4;
} 
#radio1:checked ~ #img3 img,
#radio2:checked ~ #img4 img,
#radio3:checked ~ #img5 img,
#radio4:checked ~ #img6 img,
#radio5:checked ~ #img7 img,
#radio6:checked ~ #img8 img,
#radio7:checked ~ #img9 img,
#radio8:checked ~ #img1 img,
#radio9:checked ~ #img2 img{
    transform: translate3d(140px,880px, 300px);
    z-index: 3;
} 
#radio1:checked ~ #img4 img,
#radio2:checked ~ #img5 img,
#radio3:checked ~ #img6 img,
#radio4:checked ~ #img7 img,
#radio5:checked ~ #img8 img,
#radio6:checked ~ #img9 img,
#radio7:checked ~ #img1 img,
#radio8:checked ~ #img2 img,
#radio9:checked ~ #img3 img
{
    transform: translate3d(200px,1000px, 50px);
    z-index: 2;
} 
#radio1:checked ~ #img5 img,
#radio2:checked ~ #img6 img,
#radio3:checked ~ #img7 img,
#radio4:checked ~ #img8 img,
#radio5:checked ~ #img9 img,
#radio6:checked ~ #img1 img,
#radio7:checked ~ #img2 img,
#radio8:checked ~ #img3 img,
#radio9:checked ~ #img4 img{
    transform: translate3d(250px,1100px,0px);
    z-index: 1;
} 
#radio1:checked ~ #img6 img,
#radio2:checked ~ #img7 img,
#radio3:checked ~ #img8 img,
#radio4:checked ~ #img9 img,
#radio5:checked ~ #img1 img,
#radio6:checked ~ #img2 img,
#radio7:checked ~ #img3 img,
#radio8:checked ~ #img4 img,
#radio9:checked ~ #img5 img{
    transform: translate3d(70px,280px,150px);
    z-index: 4;
} 
#radio1:checked ~ #img7 img,
#radio2:checked ~ #img8 img,
#radio3:checked ~ #img9 img,
#radio4:checked ~ #img1 img,
#radio5:checked ~ #img2 img,
#radio6:checked ~ #img3 img,
#radio7:checked ~ #img4 img,
#radio8:checked ~ #img5 img,
#radio9:checked ~ #img6 img{
    transform: translate3d(140px,120px, 100px);
    z-index: 3;
} 
#radio1:checked ~ #img8 img,
#radio2:checked ~ #img9 img,
#radio3:checked ~ #img1 img,
#radio4:checked ~ #img2 img,
#radio5:checked ~ #img3 img,
#radio6:checked ~ #img4 img,
#radio7:checked ~ #img5 img,
#radio8:checked ~ #img6 img,
#radio9:checked ~ #img7 img{
    transform: translate3d(200px,20px, 50px);
    z-index: 2;
} 
#radio1:checked ~ #img9 img,
#radio2:checked ~ #img1 img,
#radio3:checked ~ #img2 img,
#radio4:checked ~ #img3 img,
#radio5:checked ~ #img4 img,
#radio6:checked ~ #img5 img,
#radio7:checked ~ #img6 img,
#radio8:checked ~ #img7 img,
#radio9:checked ~ #img8 img{
    transform: translate3d(250px,-70px, 0px);
    z-index: 1;
} 

.item1{
    background-color: #6998ab;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.item2{
    background-color:#dddddd;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.item3{
    background-color: #6998ab;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.item4{
    background-color:#dddddd;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.item5{
    background-color: #6998ab;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.item6{
    background-color:#dddddd;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.item7{
    background-color: #6998ab;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.item8{
    background-color:#dddddd;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.item9{
    background-color: #6998ab;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.bigViewModel{
    width: 35vw;
    height: 76.5vh;
    background-color: rgb(230, 230, 230);
    position: absolute;
    align-self: flex-end;
    margin-top: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.titleVideo{
    margin-top: 4vh;
    font-weight: 600;
    color:#204058;
}