<div class="contenedor_animation">

    <h4>Animaciones y modelados 3D en blender</h4>
  
        <div class="car-is">
          <div class="item1">
            <img src="assets/png/pikachu.gif" >
          </div>
          <div class="item5">
            <img src="assets/png/icecream.png" >
          </div>
          <div class="item2">
            <img src="assets/png/blue.gif" >
          </div>
          <div class="item3">
            <img  src="assets/png/yellow.gif">
          </div>
          <div class="item4">
            <img  src="assets/png/orange.gif" >
          </div>
        </div>
      
  

</div>