.work_area{
    width: 100vw;
    height: 505vh;
    background-image: linear-gradient(230deg, #000000, #04001c, #080918,#121531, #060e1d, #00001d);
    background-size: 500%;
    animation: parfait 50s infinite;
    opacity: 1;
    position: absolute;
  }
  @keyframes parfait{
    0%{
      background-position: 0% 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0% 50%;
    }
  }
  #dec1{
    height: 18vh;
    margin-top: 15vh;
    right: 25vw;
    width: 8vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
  }
  #dec2{
    height: 35vh;
    width: 16vw;
    margin-top: 45vh;
    right: 45vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
  }
  #dec3{
    height: 10vh;
    width: 4.5vw;
    margin-top: 180vh;
    left: 8vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.7;
  }
  #dec4{
    height: 10vh;
    margin-top: 95vh;
    right: 15vw;
    width: 4.5vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
  }
  #dec5{

    height: 25vh;
    margin-top: 362vh;
    left: 2vw;
    width: 11vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
  }
  #dec6{
 
    height: 30vh;
    margin-top: 153vh;
    left: 17vw;
    width: 14vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.5;
  }
  #dec7{

    height: 20vh;
    margin-top: 405vh;
    right: 25vw;
    width: 9vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.7;
  }
  #dec8{
    height: 15vh;
    margin-top: 420vh;
    right: 60vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 7vw;
  }
  #dec9{
    height: 15vh;
    margin-top: 378vh;
    left: 25vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.6;
    width: 7vw;
  }
  #dec10{
    height: 25vh;
    margin-top: 350vh;
    right: 3vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 11.5vw;
  }
  #dec11{
    height: 25vh;
    margin-top: 260vh;
    left: 25vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.65;
    width: 11.5vw;
  }
  #dec12{
    height: 18vh;
    margin-top: 115vh;
    left: 2vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 8vw;
  }
  #dec13{
    height: 20vh;
    margin-top: 235vh;
    right: 10vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 9vw;
  }
  #dec14{
    height: 13vh;
    margin-top: 310vh;
    right: 8vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.8;
    width: 6vw;
  }
  #dec15{
    height: 13vh;
    margin-top: 460vh;
    right: 18vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    border-radius: 1000px;
    width: 6vw;
  }
  #dec16{
    height: 13vh;
    margin-top: 440vh;
    right: 8vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    border-radius: 1000px;
    width: 6vw;
  }