
    <div class="points">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 900" preserveAspectRatio="xMidYMax slice">
            <g fill="#448ee4" fill-opacity=".3" transform="translate(65 63)">
               <g id="point-top-layer">
                  <circle cx="8" cy="776" r="6"/>
                  <circle cx="189" cy="925" r="8"/>
                  <circle cx="548" cy="844" r="8"/>
                  <circle cx="685" cy="1115" r="8"/>
                  <circle cx="858" cy="909" r="8"/>
                  <circle cx="874" cy="1438" r="8" transform="rotate(180 874 1438)"/>
                  <circle cx="657" cy="1256" r="8" transform="rotate(180 657 1256)"/>
                  <circle cx="24" cy="1305" r="8" transform="rotate(180 24 1305)"/>
                  <circle cx="8" cy="8" r="6"/>
                  <circle cx="309" cy="157" r="5"/>
                  <circle cx="508" cy="76" r="7"/>
                  <circle cx="685" cy="400" r="6"/>
                  <circle cx="858" cy="141" r="8"/>
                  <circle cx="874" cy="670" r="7" transform="rotate(180 874 670)"/>
                  <circle cx="457" cy="488" r="7" transform="rotate(180 657 488)"/>
                  <circle cx="483" cy="604" r="5" transform="rotate(180 443 604)"/>
                  <circle cx="339" cy="339" r="6" transform="rotate(180 339 339)"/>
                  <circle cx="24" cy="537" r="8" transform="rotate(180 24 537)"/>
               </g>
            </g>
      </svg>
   </div>
   

