<app-header (messageEvent)="mode($event)"></app-header>
<app-animation *ngIf="atributesLigth"></app-animation>
<app-snow *ngIf="atributesDark"></app-snow>
   <section class="container_home">

      <div class="name">
         <div class="containerName">
            <span class="authorName" [ngClass]="{'name_title': author2}">Natalia Gonzalez</span>
         </div>
      </div>
         

         <div class="img_fnd"></div>
         <div *ngIf="atributesLigth" class="container_details"></div>
            <h3 class="subtitle" [ngClass]="{'position_subtitle': generic2 }">Developer and 3D artist</h3>
         <div class="circle"></div>
         <div class="circle_kero"></div>
         <div class="pikachu"></div>
      
            <div class="home2">
               <img class="imgNata" src="./../../../assets/png/newphoto.jpg" alt="">
                  <img class="bt_home_2" src="./../../../assets/png/bt_home2.png" alt="">
                     <h3 class="author_dos" [ngClass]="{'color-text': generic}">Acerca de mi...</h3>
                        <p class="description" [ngClass]="{'color-text': generic}">Game and Front End Developer, orientada a la resolución de problemas a través del diseño y construcción de productos digitales únicos, con formación profesional en Administración de empresas de la cual obtuve grandes aprendizajes gracias a la implementación de ideas de negocio desde cero. me gusta ver cada comienzo como una nueva oportunidad de crecimiento, me apasionan el aprendizaje constante, los nuevos retos en el área de la tecnología, la programación, el modelado 3D y AR.</p>
                       
                        <div class="cv_containt">
                           <img class="qr" src="./../../../assets/png/qrcv.png" alt="">
                           <a href="assets/CVNATALIAGONZALEZ.pdf" download="CVNATALIAGONZALEZ.pdf" class="pt-2 text-decoration-none" [ngClass]="{'color-text': generic}">Curriculum</a>
                        </div>
                        <div class="cv_containt2">
                           <img class="skill" src="./../../../assets/png/skills-new.png" alt="">
                           <span [ngClass]="{'color-text': generic}">Skills</span>
                        </div>
            </div>
   </section>
<app-footer></app-footer>
