.container_home{
    width: 100vw;
    height: 210vh;
	overflow-x: hidden;
	display: flex;
}
.img_fnd{
	background: url("./../../../assets/png/fnd_home.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 55vh ;
	width:28vw ;
	position: absolute;
	z-index: 2;
	margin-left: 10vw;
	margin-top: 20vh;
	transform: rotate(-9deg);
	opacity: 0.4;
	filter: blur(100px);
}
.name{
	width: auto;
	height: 20vh;
	z-index: 7;
	margin-top: 30vh;
	margin-left: 9vw;
	display: flex;
}
.containerName{
	height: auto;
	width: auto;
	display: flex;
	align-items: center;
}
.authorName{
	display: block;
	white-space: nowrap;
	color:#5584AC;
	border-right: 5px solid #5097d1;
	width: 18ch;
	font-size: 2.3em;
	text-shadow: rgb(103, 194, 255) 0.05em 0.05em 0.05em;
	animation: writing 5s steps(18),
			   visual 0.5s infinite	alternate;
	overflow: hidden;
	font-family: game regular;
}

.name_title{
	color: #ffffff;
	font-family: game outline regular;
	border-right: 5px solid #ffffff;
	animation: writing 5s steps(19),
			   visual 0.5s infinite	alternate;
	overflow: hidden;
	display: block;
	white-space: nowrap;
	width: 19ch;
	font-size: 2.3em;
	text-shadow: rgb(103, 194, 255) 0.05em 0.05em 0.05em;
}

@keyframes writing {
	from{
		width: 0;
	}
}

@keyframes visual {
	70%{
		border-color: transparent;
	}
}

.circle{
    width: 11.8vw;
    height: 26vh;
    z-index: 8;
    padding: 0;
    position: absolute;
    right: 22.5vw;
    margin-top: 46vh;
    background-image:url("./../../../assets/png/Sakaine_version_final.png");
    background-repeat: no-repeat;
    background-size: 110% 110%;
    background-position:center;
    opacity: 0.97;
	border-radius: 1000px;
  }
  .circle_kero{
	width: 17.5vw;
	height: 38vh;
	border-radius: 1000px;
	z-index: 7;
	padding: 0;
	position: absolute;
	right: 5vw;
	top: 48vh;
	background-image: url("./../../../assets/png/kero_img.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	filter: brightness(140%);
  }
  .pikachu{
	width: 18.5vw;
	height: 50vh;
	border-radius: 1000px;
	z-index: 9;
	padding: 0;
	position: absolute;
	right: 29vw;
	top: 43vh;
	background-image: url("./../../../assets/png/pikachu.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	filter: brightness(120%);
  }
  .container_details{
	width:34vw;
	height:50vh;
	z-index: 2;
	top: 35vh;
	right: 6vw;
	background-image:url("./../../../assets/png/fondo3.png");
	background-size: 100% 100%;
	background-position: center;
	display: flex;
	position: absolute;
	transform: rotate(3deg);
	opacity: 1;
  }
  .subtitle{
	font-family: stampy regular, sans-serif;
	color: #5584AC;
	position: absolute;
	right: 15vw;
	top:35vh;
	z-index: 9;
	padding-top: 2vh;
	padding-bottom: 1vh;
  }

.home2{
	position: absolute;
	top: 100vh;
	height: 100vh;
	width: 100vw;
	color: #5584AC;
	font-family: 'Pattaya', sans-serif;
  }
  .imgNata{
	z-index: 11;
	border-radius: 1000px;
	height: 34vh;
	margin-top: 24.5vh;
	position: absolute;
	right: 31vw;
  }
  .bt_home_2{
	z-index: 10;
	position: absolute;
	height: 75vh ;
	margin-left:42vw;
	margin-top: 12vh;
  }
  .author_dos{
	text-align:left;
	margin-left: 7vw;
	margin-top: 37vh;
	font-size: 1.8em;
	font-weight: 700;
	position: absolute;
	z-index: 11;
	font-family: 'Poppins';

  }
  .description{
	z-index: 12;
	text-align:left;
	width: 35vw;
	height: 20vh;
	position: absolute;
	margin-top: 45vh;
	margin-left: 7vw;
	font-size: 1em;
	text-align:justify;
	text-justify:inter-word;
	font-weight:550;
	color: #1B374D;
	font-family: 'Poppins', sans-serif;
  }
  .qr{
	  height: 18vh;
	 opacity: 0.9;
  }
  .cv_containt{
	  width: 30vw;
	  height: 30vh;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  display: flex;
	  right: 4vw;
	  position: absolute;
	  margin-top:29.5vh;
	  z-index: 13;
	  font-family: 'Poppins';
	  font-weight: 600;
	  color: #5584AC;
  }
  .cv_containt2{
	width: 30vw;
	height: 30vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
	right: 4vw;
	position: absolute;
	margin-top:57vh;
	z-index: 14;
	font-family: 'Poppins';
	font-weight: 600;
	color: #5584AC;
}
.skill{
	height: 15vh;
	border-radius: 20px;
}
.color-text{
	color: #FFFFFF;
}
.position_subtitle{
	color: #1B374D;
	/* text-shadow: #015697 0.05px 0.05px; */
	top:80vh;
	z-index: 11;
	right: 14vw;
	width: 28vw;
	height: auto;
	/* background-color:#fc997c; */
	background: #e7e7e7;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	border-radius: 100px;
	clip-path: polygon(0% 13%, 10% 15%, 13% 0%, 85% 0%, 88% 13%, 100% 13%, 100% 85%, 88% 85%, 85% 100%, 13% 100%, 10% 85%, 0% 85%);
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
a{
	color: #5584AC;
}


