.container_games{
    /* background-color: rgb(230, 230, 230); */
    width: auto;
    height: 100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* background-color: chocolate; */
    padding-top: 5%;
}

.container-details-games{
    width: 100vw;
    height: fit-content;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

h4{
    color:#204058;
    font-weight: 700;
}
.resume{
    color: #393939;
    font-style: oblique;
    font-size: 14px;
    width: 70%;
    text-align: center;
}
.container-basic{
    display:flex;
    flex-direction: column;
    height: 80vh;
    margin-bottom: 4vh;
    width: 70vw;
    align-items: center;
}
.borderSection{   
    width: 50%;
    height: 2vh;
    margin-top: 6vh;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 15px 10px -10px inset;
}
.backGame{
    width: 11vw;
    height: 6vh;
    background: #5292C6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 2vh;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.backGame:hover{
    cursor: pointer;
    background-color: #4579a3;
}

.text_cards{
    font-size: 0.5em;
    width: 18vw;
    text-align: left;
    color:#204058;
}

.text_cards2{
    font-size: 0.5em;
    margin-top: 1vh;
    text-align: left;
    width: 15vw;
    color:#204058;
    font-weight: 600;
    
}
.text_cards3{
    font-size: 0.5em;
    text-align: right;
    width: 18vw;
    color:#204058;
}
.text_cards4{
    font-size: 0.5em;
    margin-top: 0.2vh;
    text-align: right;
    width: 18vw;
    color:#204058;
    font-weight: 600;
}

.general{
    position: relative;
    top:5vh;
    margin-bottom: 7vh;
    width: 50vw;
    height: 36vh;
    justify-content: center;
    display: flex;
}



@keyframes moveActions{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.card{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 300px;
    height: 200px;
    font-size: 1.5em;
    border-radius: 10px;
    display: flex;
    border: none;
}

.one{
    position: absolute;
    top: 0;
    left: 27.8%;
    align-self: center;
    z-index: 5;
}

.one:hover{
    cursor:pointer;
    filter: brightness(1.1);
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.two{
    background: #20405844;
    position: absolute;
    right: 26%;
    z-index: 2;
    transform: rotate(-10deg);
    padding-right: 1vw;
    display: flex;
    align-items: flex-end;
}

.three{
    position: absolute;
    left: 26%;
    z-index: 1;
    transform: rotate(10deg) translate(-5px, 7px);
    padding-left: 1vw;
    background-image: url("./../../../../assets/png/texture-dialog.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #ffffff88;
}

.move{
    transition: all .5s cubic-bezier(.5,.40, .10 ,1);
}
.image-card{
    height: 300px;
    width: 300px;
    object-fit:cover;
    border-radius: 10px;
}

.action-two{
     transform: rotate(-1deg) scale(1.2);
    margin-right: -20vw;
    padding-left: 0.9em;
}
.action-three{
    transform: rotate(1deg) scale(1.2);
    margin-left: -20vw;
    padding-right: 1em;
}
.changeDarkTitle{
    color: #ffffff;
}

.changeContainerDark3{
    background-image: url("./../../../../assets/png/texture-dialog.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #ffffffdd;
}
.changeContainerDark2{
    background: #e1f2ffbf;
}
.additionalInfo{
    width: 30%;
    display: flex;
    justify-content: space-around;
    height: 9vh;
    align-items: center;
    margin: 0vh 0 2vh 0;
}

.gameContent{
    width: 70vw;
    height: 80vh;
    position: absolute;
    z-index: 5;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -3vh;
    border-radius: 30px;
}
.videoGame{
    width: 48vw;
    height: 70vh;
    background: #ffffff;
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    flex-direction: column;
    padding: 3vh 0 3vh 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.titlesVideo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
    margin-top: 2vh;
    color:#204058;
    font-weight: bold;
}
.btnVideoClose{
    width: 3vw;
    position: absolute;
    right: 1vw;
    border: 0;
    margin-top: -3vh;
    background-color: #ffffff;
}
.imgClose{
    height: 3.8vh;
}

.btnAdd{
    width: 9vw;
    height: 4.5vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 30px;
    color: #ffffff;
    border: 0;
}

.btnGithub{
    background: rgb(0, 0, 0);
    text-decoration: none;
}
.btnGithub:hover{
    background: rgb(57, 57, 57);
    margin-top: -1.2vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.btnPlay{
    background: rgb(255, 156, 131);
}
.btnPlay:hover{
    background: rgb(254, 139, 110);
    margin-top: -1.2vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.imgAdd{
    height: 2.2vh;
    margin-right: 0.5vw;
}
.changeGitColor{
    background: none;
    color:rgba(255, 255, 255, 0);
}
.changeGitColor:hover{
    background: none;
    color:rgba(255, 255, 255, 0);
    box-shadow: rgba(0, 0, 0, 0) 0px 10px 15px -3px, rgba(0, 0, 0, 0) 0px 4px 6px -2px;
}

