<section class="container_games">
        <div class="container-details-games" >

            <div class="container-basic">
                <h4 [ngClass]="{'changeDarkTitle': responseTitleDarkG}">HuntersMoon</h4>
                <div class="general" >
                    <div class="card one" id="" (click)="actionsButtons('g1')">
                        <img class="image-card" src="./../../../assets/png/portada-hunters.png" alt="">
                    </div>
                    <div class="card three move" [ngClass]="{'action-three': lookThreeinformation, 'changeContainerDark3': responseDarkContainer3 }" >  
                        <span class="text_cards"><strong>Reseña:</strong> HuntersMoon es un survival horror de aventura en tercera persona inspirado en los libros de cazadores de sombras. </span>
                        <span class="text_cards2">Referentes: Dark soul, inside, COD:Zombies, Returnal</span>
                    </div>
                    <div class="card two move" [ngClass]="{'action-two': lookTwoinformation , 'changeContainerDark2': responseDarkContainer2 }">
                        <span class="text_cards3"><strong>Caracteristicas:</strong> Videojuego 3D, Género: Survival horror/Accion, Tercera persona, Plataforma:Pc, Windows , Modo de juego: Single player, Dev & Art : Sebastian Medina, Natalia Gonzalez, Andres piñeros</span>
                        <span class="text_cards4">Tools: Unity, Blender</span>
                        <span class="text_cards4">2 Jam Generation</span>
                    </div>
                </div> 
                <span class="resume" [ngClass]="{'changeDarkTitle': responseTitleDarkG}">An angel travels to hell in search of the sacred arrow in order to defeat Asmodeus and end the war.</span>
                <a class="backGame" href="https://daskalosjsm.itch.io/game-group-3" target="_blank">Jugar ></a>
            </div>

            <div class="container-basic">
                <h4 [ngClass]="{'changeDarkTitle': responseTitleDarkG}">The Last Queen</h4>
                <div class="general" >
                    <div class="card one" (click)="actionsButtons('g2')">
                        <img class="image-card" src="./../../../assets/png/portada-princess.png" alt="">
                    </div>
                    <div class="card three move" [ngClass]="{'action-three': lookThreeinformation2, 'changeContainerDark3': responseDarkContainer3 }" >  
                        <span class="text_cards"><strong>Reseña:</strong> The last queen es un juego arcade de aventura en tercera persona en el jugador realiza un salto en el tiempo para salvar al reino.</span>
                        <span class="text_cards2">Referentes: Shovel Knight, Bloodstained: Ritual of the Night </span>
                    </div>
                    <div class="card two move" [ngClass]="{'action-two': lookTwoinformation2 , 'changeContainerDark2': responseDarkContainer2 }" >
                        <span class="text_cards3"><strong>Caracteristicas:</strong> Videojuego 2.5D, Género: Aventura/Accion, Tercera persona, Plataforma: Browser , Modo de juego: Single player, Dev & Art :  Natalia Gonzalez, Christian Ruales, Juan Salgado </span>
                        <span class="text_cards4">Tools:Unity, Blender</span>
                        <span class="text_cards4">1 Jam Generation</span>
                    </div>
                </div> 
                <span class="resume" [ngClass]="{'changeDarkTitle': responseTitleDarkG}">Go through the past with wisdom and you will be able to change the future of your kingdom</span>
                <a class="backGame" href="https://sakaine04.itch.io/the-last-queen" target="_blank">Jugar ></a>
            </div>

            <div class="container-basic">
                <h4 [ngClass]="{'changeDarkTitle': responseTitleDarkG}">DinoRules</h4>
                <div class="general" >
                    <div class="card one" (click)="actionsButtons('g3')">
                        <img class="image-card" src="./../../../assets/png/portada-dinorules.png" alt="">
                    </div>
                    <div class="card three move" [ngClass]="{'action-three': lookThreeinformation3, 'changeContainerDark3': responseDarkContainer3 }" >  
                        <span class="text_cards"><strong>Reseña: </strong> DinoRules es un juego de aventura donde recorrerás todo un mundo desconocido rompiendo las dinoreglas y así rescatar a tus rasgos de personalidad que te hacen único.  </span>
                        <span class="text_cards2">Referentes: Jurassic World Warparty </span>
                    </div>
                    <div class="card two move" [ngClass]="{'action-two': lookTwoinformation3 , 'changeContainerDark2': responseDarkContainer2 }">
                        <span class="text_cards3"><strong>Caracteristicas:</strong> Videojuego 3D, Género: Aventura/Estrategia, Tercera persona, Plataforma: Browser , Modo de juego: Single player, Dev & Art : Natalia Gonzalez </span>
                        <span class="text_cards4">Tools: Unity, Blender</span>
                        <span class="text_cards4">Women Game Jam 2022</span>
                    </div>
                </div> 
                <span class="resume" [ngClass]="{'changeDarkTitle': responseTitleDarkG}">Rompe las reglas para vencer tus miedos</span>
                <a class="backGame" href="https://sakaine04.itch.io/dinorules" target="_blank">Jugar ></a>
            </div>

            <div class="container-basic">
                <h4 [ngClass]="{'changeDarkTitle': responseTitleDarkG}">DualPrison</h4>
                <div class="general" >
                    <div class="card one" (click)="actionsButtons('g4')">
                        <img class="image-card" src="./../../../assets/png/dual2.png" alt="">
                    </div>
                    <div class="card three move" [ngClass]="{'action-three': lookThreeinformation4, 'changeContainerDark3': responseDarkContainer3 }" >  
                        <span class="text_cards"><strong>Reseña: </strong>DualPrison es un juego de aventura/estrategia donde puedes esquivar obstaculos en el Presente, teletransportarte al Futuro, y viceverza para salir de una prison.   </span>
                        <span class="text_cards2">Referentes: Day of the Tentacle, Prince of Persia: The Sands of Time </span>
                    </div>
                    <div class="card two move" [ngClass]="{'action-two': lookTwoinformation4 , 'changeContainerDark2': responseDarkContainer2 }" >
                        <span class="text_cards3"><strong>Caracteristicas:</strong> Videojuego 3D, Género: Aventura/Estrategia, Primera persona, Plataforma: Browser , Modo de juego: Single player Dev: Alejandro Pérez Art2D: Natalia Gonzalez Art3D: David Poveda</span>
                        <span class="text_cards4">Tools: Unity, Blender, PixelArt </span>
                        <span class="text_cards4">Globant Game Jam</span>
                    </div>
                </div> 
                <span class="resume" [ngClass]="{'changeDarkTitle': responseTitleDarkG}">Get out of the prision with this awesome power!</span>
                <a class="backGame" href="https://sakaine04.itch.io/dual-prison" target="_blank">Jugar ></a>
            </div>

            <div class="container-basic">
                <h4 [ngClass]="{'changeDarkTitle': responseTitleDarkG}">Byte Adventure Flavored</h4>
                <div class="general" >
                    <div class="card one" (click)="actionsButtons('g5')">
                        <img class="image-card" src="./../../../assets/png/bite_of.png" alt="">
                    </div>
                    <div class="card three move" [ngClass]="{'action-three': lookThreeinformation5, 'changeContainerDark3': responseDarkContainer3 }" >  
                        <span class="text_cards"><strong>Reseña:</strong> Byte Adventure un juego de aventura/Arcade donde recorreras los diferentes niveles recogiendo las notas de sabor que te ayudaran a cumplir la misión y te daran habilidades. </span>
                        <span class="text_cards2">Referentes: Space Invaders, Arkanoid</span>
                    </div>
                    <div class="card two move" [ngClass]="{'action-two': lookTwoinformation5, 'changeContainerDark2': responseDarkContainer2 }" >
                        <span class="text_cards3"><strong>Caracteristicas:</strong> Videojuego 3D, Género: Aventura/Arcade, Tercera persona, Plataforma: Browser , Modo de juego: Single player, Dev & Art : Natalia Gonzalez</span>
                        <span class="text_cards4">Tools: Unity, Blender</span>
                        <span class="text_cards4">Pixel Game Jam</span>
                    </div>
                </div> 
                <span class="resume" [ngClass]="{'changeDarkTitle': responseTitleDarkG}">Reúne las notas de sabor para ganar habilidades byte</span>
                <a class="backGame" href="https://sakaine04.itch.io/byte-adventure-flavored" target="_blank">Jugar ></a>
            </div>
        </div>
    
</section>

